@model ELibrary.Models.book

@{
    ViewBag.Title = "DeleteBook";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}

<h3>Are you sure you want to delete this?@Model.name</h3>
<div> 
    <hr />
  @Html.HiddenFor(a=>a.id)


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ViewBooks")
        </div>
    }
</div>
