
@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}

<table class="table table-hover table-responsive">
    <thead>
        <tr>

            <th>
                Error Details
            </th>
        </tr>
    </thead>
    <tbody>
            <tr>

                <td>
                    Sorry for that , but we couldn't find anything related to your question
                </td>
            </tr>
    </tbody>
</table>

